@model IEnumerable<ddooan.Models.DonDatHang>


@{
    ViewBag.Title = "DonDatHang";
    Layout = "~/Areas/Admin/Views/Shared/layuotAdmin.cshtml";
}

<h2>DonDatHang</h2>
<form action="/admin/DonDatHang/index" method="post">

    <a href="/admin/DonDatHang/create" class="btn btn-primary">Thêm mới</a>
</form>
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>
                Mã Đơn Đặt Hàng
            </td>
            <td>
                Ngày Đặt
            </td>

            <td>
                Tình Trạng Giao Hàng
            </td>
            <td>
                Ngày Giao
            </td>
            <td>
                Đã Thanh Toán
            </td>
            <td>
                Mã Khách Hàng
            </td>


            <td>
                Ưu Đãi
            </td>
            <td>
                Sửa
            </td>
            <td>Xóa</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.MaDDH
            </td>


            <td>
                @item.NgayDat
            </td>

            <td>
                @item.TinhTrangGiap
            </td>

            <td>
                @item.NgayGiao 01/01/2021 11:55:31 CH
            </td>
            <td>
                @item.DaThanhToan ✓
            </td>
            <td>
                @item.MaKH
            </td>
            <td>
                @item.UuDai %
            </td>


            <td><a class="btn btn-primary" href="@Url.Action("DonDatHang","Sanpham1")/@item.MaDDH">Edit</a></td>
            <td><a class="btn btn-primary" onclick="return confirm('Bạn có muốn xóa không?');" href="@Url.Action("delete","Sanpham1")/@item.MaDDH">Xóa</a></td>

        </tr>
        }

</table>



