@model IEnumerable<ddooan.Models.KhachHang>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <td> ma khach hang</td>
                <td>ten khach hang</td>
                <td> dia chi</td>
                <td>email</td>
                <td>sdt</td>
                @*chay vong lap lay ra  cac doi tuong  tu list models*@
                @foreach(var item in Model)
                {
            <tr>
                <td>@item.MaKH</td>
                <td>@item.TenKH</td>
                <td>@item.DiaChi</td>
                <td>@item.Email</td>
                <td>@item.SoDienThoai</td>
            </tr>
                }
            </tr>
        </table>
    </div>
   

</body>
</html>
